@import './base.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: opacity 0.2s;
}

a:hover {
  opacity: 0.75;
}